:root {
	--main-text-color: #757575;
	--nav-text-color: #000000;
	--main-header-color: #ffffff;
	--secondary-header-color: #212121;
	--border-color: #eeeeee;
	--accent-color: #2196f3;
	--btn-hover-color: #188ce8;
	--main-bcg-color: #ffffff;
	--secondary-bcg-color: #f5f4fa;
	--hero-bcg-color: #2f303a;
	--footer-contacts-color: rgba(255, 255, 255, 0.6);
	--footer-bcg-color: #2f303a;
}

/* common styles*/
body {
	color: var(--main-text-color);
	background-color: var(--main-bcg-color);
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
	color: var(--main-text-color);
}

/* header styles */
/* header navigation */
.header-nav .link.current {
	color: var(--accent-color);
}
.logo.link {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
}
/* .link .logo-web {
	color: var(--accent-color);
}
.link .logo-studio {
	color: var(--nav-text-color);
} */

.logo-name {
	color: var(--accent-color);
}
.logo-part {
	color: var(--nav-text-color);
	margin-left: -5px;
}

.header-nav .link {
	color: var(--secondary-header-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.header-nav .link:hover,
.header-nav .link:focus {
	color: var(--accent-color);
}

/* header contacts */
.header-contacts .link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
	color: var(--accent-color);

	cursor: pointer;
}

/* main content styles */
/* hero styles */
.hero {
	/*This rule has been added after mentor had insisted on positioning button towards the h1 in hero */
	text-align: center;
	background-color: var(--hero-bcg-color);
}
.hero .hero-title {
	color: var(--main-header-color);

	text-transform: uppercase;
	/* text-align: center; */
	align-content: center;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
}
.hero .hero-btn {
	width: 200px;
	height: 50px;

	border-radius: 4px;
	border: 1px;

	color: var(--main-header-color);
	background-color: var(--accent-color);

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.02em;
}
.hero .hero-btn:hover,
.hero .hero-btn:focus {
	background-color: var(--btn-hover-color);
	cursor: pointer;
	/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
	/* box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.15); */
}

/* features styles */
.features-title,
.contacts-title,
.footer-title,
.projects-title {
	display: none;
}

.features-item .item-header {
	color: var(--secondary-header-color);

	text-transform: uppercase;
}
.features-item .item-text {
	line-height: 1.71;

	text-align: left;
}

/* works styles */
.works-title,
.team-title {
	color: var(--secondary-header-color);
	font-size: 36px;
	line-height: 1.17;

	text-align: center;
}
.works-item .link:hover,
.works-item .link:focus {
	cursor: auto;
}

/* team styles */
.section.accent {
	background-color: var(--secondary-bcg-color);
	text-align: center;
}
.team-item .item-card {
	width: 270px;
	height: 370px;
	border-radius: 0px 0px 4px 4px;

	background-color: var(--main-bcg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-item .item-header {
	color: var(--secondary-header-color);

	font-weight: 500;
	font-size: 16px;
}
.team-item .item-text {
	font-size: 16px;
}

/* footer styles */
.footer {
	width: 1600px;
	height: 250px;
	background-color: var(--footer-bcg-color);
}

.logo.link {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
}
/* .footer .logo-studio {
	color: var(--main-header-color);
} */
.footer .logo-part {
	color: var(--main-header-color);
}
.address-item .link {
	color: var(--footer-contacts-color);

	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
}
.address-item .link:hover,
.address-item .link:focus {
	color: var(--main-header-color);
}

/* PORTFOLIO styles */

.btn {
	height: 40px;
	border-radius: 4px;
	border: 1px;

	color: var(--secondary-header-color);
	background-color: var(--secondary-bcg-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	/* display: inline; */
}
.filter .btn:hover,
.filter .btn:active {
	color: var(--main-header-color);
	background-color: var(--accent-color);

	cursor: pointer;
}
.project-item {
	width: 370px;
	height: 400px;
	border: 1px solid var(--border-color);

	list-style-position: inside;

	background-color: var(--main-bcg-color);
}
/* .project-item .link {
	cursor: auto;
} */
.project-item .item-header {
	color: var(--secondary-header-color);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.02em;
}
.project-item .item-desc {
	font-size: 16px;
	line-height: 1.88;
}
.project-item .item-text {
	display: none;
}
